[2017-04-23 15:01] teesloane opened #1 "ROADMAP - START HERE!"
## Welcome
Hello! You made it to our **RoadMap**. That's awesome! Welcome. The Heap is happy you are here. Our roadmap is used to help us keep an eye on long running goals. I have broken the road map up into three separate steps — each corresponding to a different part of our code base.

For the most part, we will follow the road map step by step (stage 1, stage 2 etc), as I can only plan so much

[2017-04-25 21:14] teesloane opened #3 "Snippet Architecture"
**Read this to:**
- Get insight into how this project will attempt to structure the overall code.

**What I expect you to know:**
- Basics of functional programming (don't worry if you don't, I barely do myself)
-  How reduce works

**Background**
Recently I worked on a project that made use of a "function pipe" to both organize and execute the entirety of a document's code. I had never come acros

[2017-04-26 11:41] teesloane opened #4 "Mounting the Emojion Bar into the Dom"
Goal: Find a way to mount the Emoji bar into the DOM.

User Interaction: For a user to add the `Emojion Bar` to their site, they will have to do _some_ coding to indicate _where_ they want the emojion bar to mount. I suspect the best way to do this is to ask them to indicate this by adding a class or a unique id (or class, or data-attribute?) to the HTML element they would like the emojion bar to

[2017-04-26 12:00] teesloane opened #5 "Manage the state of an emoji bar"
Our state object is going to be passed down from function to function in our function pipe (see #3 if unfamiliar.

Our state will probably look something like this:

[code]

There are two main pieces of "state" in our snippet:

1. Our emojis and their counts. ("emojis")

2. The emoji's displaying in the dom. ("dom").

Somehow we connect the two - and for now we won't worry about how network reques

[2017-04-29 01:07] teesloane opened #6 "Create example site"
We'll need an example site for loading the snippet into for testing.

[2017-04-29 02:21] #6 closed, assigned to nobody

[2017-04-29 02:23] teesloane commented on #4
The emojion bar is now mounting in our example site, although it is likely that this will be revisited in order to glean mounting information from something other than `id`s.

[2017-04-29 02:23] #4 closed, assigned to nobody

[2017-04-29 02:23] teesloane commented on #3
The function pipeline is alive and somewhat filled out! If you'd like to see the process of it's making feel free to checkout the youtube channel.

[2017-04-29 02:23] #3 closed, assigned to teesloane

[2017-04-29 20:00] teesloane opened #7 "Create a stylesheet and append it to the DOM."
Read this to:
Help out with setting up styling the emojion bar

I expect you to know:
how we are architecting the data flow in this app. Please read #3

Just like our snippet itself is added to the DOM by a user, we need the _snippet_ to create a stylesheet that styles the classnames of our emojion bar. A `<style>` tag is quite similar to a `<div>` or a `<span`> in that they can both be created us

[2017-04-29 20:03] teesloane opened #8 "Adaptive Styling"
This issue requires that #7 be completed.

After someone has generated a style sheet to style our snippets, we can go ahead and actually style them!

Notes:

- let's use flexbox
- aim for a responsive design (our wireframe does not have a mockup for that, so use your imagination!
- remember to test on elements of different size.

I would like to remind you our basic wireframe for this styling!

![

[2017-04-29 20:09] teesloane opened #9 "Make the pipe async!"
We need to make our function pipe be able to do things asynchronously; at some point in time we want this snippet to make a network call — an asychronous action.

Currently, our function pipe executions every function one after another, and will not launch another function until it has completed the execution context of the current function.

How can we make the `pipe` function handle taking funct

[2017-04-29 20:13] teesloane opened #10 "Template out HTTP requests"
**Intent:**
Our snippet must communicate with an api at some point, to achieve it's full functionality. Let's template out some code that will eventually achieve this if / when we get a server.

**What you should know:**
- how to use fetch,
- how to mock data / or create a little tiny server for the sake of testing.

We'll need to set up some functions in our pipeline to perform two basic HTTP req

[2017-04-29 20:15] teesloane opened #11 "Setup circleCI"
We should have some kind of continuous integration so people can automatically run tests when pushing code.

[2017-04-29 20:16] teesloane opened #12 "Setup JEST"
we will use JEST for writing unit tests. This requires the following

- [ ] install jest
- [ ] set up a methodology for testing (ie. should we use a seperate folder? have a `*.spec.js` for each js file in parallel?
- [ ] adding information to our README for how to run tests

[2017-04-29 20:18] teesloane opened #13 "Write unit tests"
We should definitely write some unit tests once we have jest ( #12 ) installed.
There will be some functions to make up for (that are not yet covered by tests) so we'll need to cover that ground.

Afterwards, let's encourage that we write tests for any function we write before submitting a PR.

This will be marked done once we have >90% coverage 😹

# Testing Coverage.

Here are the functions that

[2017-04-29 21:27] mackiedrew commented on #11
Dibs!

[2017-04-29 23:20] teesloane opened #14 "refactor the `pipe` function to be more readable"
Currently our `pipe` function looks something like this:

[code]

This is super, not-readable (to me). I mostly ripped it straight from [this blog](http://vanslaars.io/post/create-pipe-function/). (bad form! copy pasting code!)

The new function should try and be more explicit — with names that are more relevant to `.reduce` (no using `f, g`.)

[2017-04-30 02:09] teesloane opened #15 "ROADMAP: Snippet"
**Read this to:**

Understand the road map for the emojion bar `snippet`.

**I expect you to know:**

Our general [roadmap](https://github.com/the-heap/Emojions/issues/1)
[How we are architecting the snippet code](https://github.com/the-heap/Emojions/issues/3)

# Overview:

The Emojion bar `snippet` is one component of three in this project.  We need to create an embeddable javascript snippet that

[2017-04-30 02:18] teesloane opened #16 "Setup Elm"
Setup Elm in the `client` folder.

- [x] readme should link to instructions to install elm
- [x] write build instructions

[2017-04-30 02:18] teesloane opened #17 "Get a basic site running with elm"
Get the basic scaffolding of a single page app built with elm.

- [x] Add elm html core packages
- [x] scaffold out a basic model, view, update section
- [x] see some html in the browser!

[2017-04-30 02:18] teesloane opened #18 "Research Elm Emoji Packages"

[2017-04-30 02:19] teesloane opened #19 "Scaffold Model, View, Update functions"

[2017-04-30 02:19] teesloane opened #20 "Generate a snippet for a user to install"

[2017-04-30 02:19] teesloane opened #21 "Allow user to pick out emojis for their bar"

[2017-04-30 02:20] teesloane opened #22 "Provide instructions for how to use the generated snippet"

[2017-04-30 02:21] teesloane opened #23 "ROADMAP: Emoji Picker Client"
**Read this to:**

Understand the road map for the emojion bar `Emoji Picker`

**I expect you to know:**

- Our general [roadmap](https://github.com/the-heap/Emojions/issues/1)
- What our `snippet` does

# Overview:

The client is a small webapp that will exist to serve one primary function: allowing a user (someone who wants to embed an emojion bar on their site) to customize their emoji bar — ch

[2017-05-01 20:14] mackiedrew commented on #11
I think we should add Jest for testing first, otherwise its kind of needless.

[2017-05-01 20:17] mackiedrew commented on #12
I've always used `*.test.js`, What does `*.spec.js` stand for? I'm not sold on either, just curious. :smile:

[2017-05-01 21:34] teesloane commented on #11
Yep we can wait on #12 , but don't let that hold you up 😸

[2017-05-01 21:35] teesloane commented on #12
I actually don't know exactly why it's `spec` ; i figure `specification` is relatively synonymous with `test` heh. Maybe someone else can weigh in on this...

[2017-05-02 00:09] mackiedrew commented on #12
I'll do jest too I suppose. I love the tooling stuff!

[2017-05-02 03:00] mackiedrew opened #25 "Add doppins integration and make all dependencies pinned versions"
**This is for the snippet section.**
Having hard-set versions for dependencies can allow for better long-term stability. I think we should move to using absolute versions only:
[code]
To:
[code]

This is probably a bad idea since it makes things extremely manual. However, a service exists that can integrate with GitHub that will manually update and manage dependency upgrades. [Doppins](https://dop

[2017-05-02 03:29] teesloane commented on #25
This is really interesting @mackiedrew. Let me make sure I understand correctly; as this seems like a good idea (great write up by the way!).

At first, I thought a `yarn.lock` would handle correct package management (I am unsure of it's functionality 100% though — it seems to set explicit verisons?)

So Doppins is looking out for new dependencies automatically? or do we manually trigger it?

This

[2017-05-02 03:43] mackiedrew commented on #25
You're correct that yarn.lock will lock version numbers! This is fine in almost every case. However, people may not use yarn still. A lot of people may use NPM, which means for the sake of development uniformity it may be nice to have redundancy. It also means we never need to yarn upgrade, and dependency upgrades are never rolled up into another commit/branch.

This is also automatic. All we have

[2017-05-02 03:53] teesloane commented on #25
No... this is really nice. I would like to get some experience with this. This kind of tool sounds really useful especially in keeping people up to date with changing tools — some might say more useful for longer running projects, but regardless, I'm super keen to try it. Thanks for bringing it up!

[2017-05-02 03:56] teesloane commented on #25
Interesting, running into this:

<img width="777" alt="screenshot 2017-05-01 23 55 15" src="https://cloud.githubusercontent.com/assets/12987958/25603441/bbec4f54-2ec9-11e7-95c5-ae7dbf2f14bd.png">

Doppins might still be syncing with the repo to learn what package manager it uses. will try tomorrow!

[2017-05-02 04:54] mackiedrew commented on #25
I think I know what the issue is, I think maybe it just looks in the root directory for `requirements.txt` for Python or `package.json` for Node... I think we may not be able to do it .:( Thanks for looking though :)

That's fine though! We don't need it. Maybe I'm wrong though, maybe it will eventually.

[2017-05-02 05:04] mackiedrew commented on #14
[code]

[2017-05-02 05:04] mackiedrew commented on #14
Just leaving this here for storage. I don't wanna make a new branch right now, but I will later.

[2017-05-02 13:16] teesloane commented on #14
This is excellent. This is what a doc comment should look like!

You also caught a mistake I made - the function does not return a `state` object; it returns a function, that when invoked _should be_ our state object.

The only mistake I think that remains is that the `@param {function}` should really be `@param {Array}` .... I think?

Thanks @mackiedrew

[2017-05-02 13:21] #16 closed, assigned to nobody

[2017-05-02 13:26] teesloane commented on #25
Ah yes, perhaps the problem is that I'm following a `mono repo` methodology here. Perhaps git sub-modules would work, but I do not know how to use those yet; and am hesistant to split up the sub projects into separate repo's (for the sake of a single source of truth / easier access etc).

I'm going to close this and  we can reassess / brainstorm in the future. Would have been nice to have.

[2017-05-02 13:26] #25 closed, assigned to nobody

[2017-05-02 15:48] mackiedrew commented on #14
Thanks! The pipe() function creates nested functions rather than an array. This is why you can later invoke it:

[code]

One of the tests for the `pipe()` checks that it is returning a function:
![tests](https://cloud.githubusercontent.com/assets/20718044/25626297/15dd4942-2f2d-11e7-96a9-761df6706004.png)

[2017-05-02 16:20] mackiedrew commented on #9
So the way I see it we have three options:

## Async/Await
Basically impossible considering it's not even in ES7 yet. No browser support.

## [Promises](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Promise)
This is my personal favourite, it has pretty wide support in browsers, but it will mean we can construct a pipe function that does not require any special chang

[2017-05-02 16:41] teesloane commented on #14
Looks great!

[2017-05-02 19:24] mackiedrew commented on #14
Oh sorry I misread your comment! You are right, it should be an array... or... how do you do a unknown number of params in JSDocs?

[2017-05-02 20:39] teesloane commented on #14
Not too sure, haven't looked into. I've been relatively informat with my js-doc'ing. Maybe it doesn't recognize `...args` at this point in time.. Not the biggest problem though...

[2017-05-02 23:49] mihok opened #28 "Simplify the example html page"
This `snippet/example.html` looks like its been borrowed from somewhere, its also pretty daunting as someone just joining the project. Lets simplify the page and highlight a common use case for Emojions while we're at it.

I propose that we have a simple article comments section as a common use case (we can build out more examples later, and possibly in the client?)

The objective here is to make

[2017-05-03 00:01] teesloane commented on #28
This is a great idea. I'm assigning this to you because you are awesome and right next to me.

[2017-05-03 00:13] mihok opened #29 "Dont require unique IDs to add emojions to a DOM element."
Today, we have to add `<element id="emojions_someuniquestring">` for each area we want to add Emojions to. This seems a bit unnecessary, we probably want to search for `.emojions` or something to that effect as a class name rather than a unique ID.

[2017-05-03 00:42] mihok commented on #11
Yeah add it in now and we can enjoy passing tests every time until tests are added 😀

[2017-05-03 00:44] mihok commented on #18
How are the emoji's being loaded on the snippet, will they be unicode, font, image?

[2017-05-03 00:48] mihok commented on #20
How will the snippet code pull in the configuration?

Will the snippet script be rebuilt with just the emojis requested inserted in? This solution would require some sort of template key in the snippet script. Or,

Will the snippet receive the emojis via say a get parameter: `/path/to/script/emojions.js?use=grin,smile,plus-one`. Or,

Did you have another solution in mind?

[2017-05-03 12:48] teesloane commented on #29
Yes, this is absolutely true. Now that we are simplifying our `example.html` page this should be even more clear / simple to setup.

[2017-05-03 12:49] #28 closed, assigned to mihok

[2017-05-03 12:50] teesloane commented on #18
I actually have no clue so far. Up until now, I've just been copying and pasting from the mac emoji keyboard (which is launched by hitting `control + command + space`.

any ideas on this?

[2017-05-03 12:51] teesloane commented on #20
I actually have no idea what to do here yet. I'm very open to suggestions. At first thought, I just kind of thought that the snippet would be loaded into the `client` as a string, that, on interacting with the `client` (ie. choosing your emojis, the endpoint where it stores the counts etc), it would then just run a `.replace` on the parts of the snippet string that need to be updated (which, after

[2017-05-03 13:09] mackiedrew commented on #18
Yeah, it's Unicode right now, which, on Linux, doesn't look so hot. Here is my thought... SVG? With SVG images we could convert them to relatively simple shapes that can be less than 200 characters long then we could use javascript to inject the emoji's and store them in the source or transmit them easily over a request. That prevents the monotone of a font. The very narrow usability of (good look

[2017-05-03 13:27] teesloane commented on #18
Interesting. One Q:

what do you mean by this?

---

I actually know very little about emojis as a text entity, or whatever you want to call it. I definitely have a few emojis assumptions. Reading [this wiki article](https://en.wikipedia.org/wiki/Emoji#Implementation) seems to confirm that emoji's are just unicode symbols, and then interpreted by different fonts.

from the article; regarding chrom

[2017-05-03 18:28] ericbastarache commented on #7
Hey, I'd like to work on this issue

[2017-05-03 18:39] teesloane commented on #7
Sounds good! I'll assign you to it! Feel free chat in the gitter if you run into any blocks; and thanks for joining!

[2017-05-03 20:19] mackiedrew commented on #11
- [ ] Add circle.yml to root
- [ ] Add some integration for client
- [ ] Add some integration for snippet
- [ ] Add CodeCov to CircleCI

[2017-05-03 22:35] mackiedrew opened #32 "Add issue and pull request template"
Even though I have read the contribution guidelines, I continually forget the main points I need to hit. I think this would help build some consistency.

[2017-05-03 22:49] #11 closed, assigned to nobody

[2017-05-03 22:49] #12 closed, assigned to nobody

[2017-05-03 22:50] teesloane commented on #32
this is great and I'm assigning this to you because you're right next to me.

[2017-05-03 23:28] #7 closed, assigned to teesloane

[2017-05-03 23:28] #14 closed, assigned to nobody

[2017-05-03 23:28] #32 closed, assigned to mackiedrew

[2017-05-04 00:04] ericbastarache commented on #5
Hey, I'm claiming this issue

[2017-05-04 17:22] venomnert commented on #10
I will like to work on this issue

[2017-05-05 16:37] ChristofLee commented on #8
I'm gonna have a crack at this over the next few hours.

Will post an update.

[2017-05-05 18:27] teesloane commented on #8
Excellent, thanks for coming on board @ChristofLee!

[2017-05-05 19:56] ChristofLee opened #36 "Add .editorconfig to unify coding standards"
## Detailed Description
Use [Editor Config](http://editorconfig.org/) to define a coding standard and prevent whitespace changes in git PR's between different developers.

## Possible Implementation
Here's a possible config for our purposes:
[code]

[2017-05-05 19:58] ChristofLee commented on #36
I'm sorry this is a bit **bike-shed**y, but I think it would benefit us in the long run (this month I guess).

If this is of interest, I will happily write a more concise config and create a PR.

[2017-05-05 20:09] teesloane commented on #36
hmm interesting idea. I think these files might need to be setup as they correspond to the JS auto formatter (prettier) and elm format and there differences... happy to have you make a PR and we can all test and see how things go :)

[2017-05-05 20:27] ChristofLee commented on #36
Awesome, will look into it 👍

[2017-05-06 15:58] ChristofLee commented on #8
My PR for this issue is ready for review:
https://github.com/the-heap/Emojions/pull/37

[2017-05-06 18:48] teesloane commented on #8
Excellent work. merged + 🚢 !

[2017-05-06 18:48] #8 closed, assigned to nobody

[2017-05-07 13:49] ChristofLee commented on #36
I have created a PR for this issue: https://github.com/the-heap/Emojions/pull/38

[2017-05-08 12:30] #36 closed, assigned to nobody

[2017-05-09 08:57] ChristofLee opened #41 "Clicking and incrementing an emoji changes the width of the button"
## Detailed Description
When an emoji is clicked, it increments the number and also adjusts the width of the button. Flexbox tries to accommodate this and adjusts the width.

This is caused by `flexbox` and was introduced with adaptive styling #37.

## Possible Implementation
May require padding or a min-width on the content of `.emojion__single`.

[2017-05-09 12:24] teesloane commented on #41
Good catch @ChristofLee; I was playing around with this as well now that the incrementEmoji works. I think min-width will fix this; but maybe we can make the adaptive styling work in a way that the min width changes based on the number of digits in the count (ie, 0, 10, 100, 1000)

[2017-05-09 17:26] teesloane commented on #5
This was closed recently! Thanks for your hard work @ericbastarache !

[2017-05-09 17:26] #5 closed, assigned to nobody

[2017-05-09 17:28] #17 closed, assigned to teesloane

[2017-05-11 01:07] quietcoding commented on #9
I'm gonna go on a hunch here and say that Promises are the way to go. I'll give it a shot and get back to you (assuming someone else hasn't done it yet).

[2017-05-11 01:29] teesloane commented on #9
@qazqwezxc thanks for weighing in. I've got one or two people who are interested in it, but haven't heard too much from them. Feel free to take a crack at it, or to mention it on gitter to see if anyone corresponds. Could be a cool one to collaborate on too. But feel free to tackle it solo!

[2017-05-11 02:44] quietcoding commented on #9
Thanks, I'm a bit new to this... all of this js good stuff.

Can you give me some insight on this? What are your thoughts on converting all the pipe functions into promises. Then the pipeline is then converted to executing each function on a '.then' basis. Trudging through this for the first time, let me know!

Edit:
I think what I'll do is add promises to the existing functions, 'then' execute th

[2017-05-11 07:50] ChristofLee commented on #9
I was interested in this to. My question is *does every function need to be asynchronous?*
For example, do we need to wait for a _http request_ in order to _start adding styles to the page?_

Here is some super dirty pseudo code of what I'm thinking.
[code]
Is this our intention? Any help would be *much appreciated, as always.*

[2017-05-11 13:47] teesloane commented on #9
These are good questions that I am not sure how to answer yet. @mackiedrew had some input on a promise based approach (can you weight in @mackiedrew ?)

Many of the functions do not need to be async -- only really one or two:

- `getEmojionCountFromServer()` -> this fills up the state.emojions struct with the data needed to display in the page (the emoji and it's respective count).

- `sendEmojion

[2017-05-11 13:50] mackiedrew commented on #9
Hey sorry, contacts have taken me again!

There is a little overhead but I don't think wrapping each sync function in
a promise is a problem. It will automatically trigger the resolve and
therefore not kill performance too much.

If you want to test the asynchronous pipe you can feed it setTimeouts,
which will simulate a request period.

On Thu, May 11, 2017, 09:47 Tyler, <notifications@github.com

[2017-05-11 14:00] teesloane commented on #9
Thanks @mackiedrew, no worries. We'll figure this out Team!

I have updated the issue at the top with information about how we can tackle this. If You want to tackle a sub set of this issue, please do and make a PR against the branch specifically for this issue (not against development)

[2017-05-12 14:44] venomnert commented on #41
I was playing around with the styling and I tried changing the width from auto to 16% on the .emojion__single class. By doing so we give a fluid width for each emojion that is large enough to accommodate the number and the emoji. Here is what the final class would look like :

`.emojion__single {
    /* width: auto; */
    width: 16%;
}  `

[2017-05-12 17:00] teesloane commented on #41
Interesting. Maybe you could post a screenshot or a gif?

I think having a very specific size like 16% could be problematic on mobile devices however... do you think you could try using `min-width` and a pixel amount?

If we combined `min-width` with some `@media-queries` we could probably solve this issue.

[2017-05-13 02:58] quietcoding commented on #9
Hey @teesloane,

What are your suggestions to creating the backend database?
After a little thought, it looks like we could create a RESTful API which would need some unique way of identifying every emojion bar utilized. Either that, or they could just feed into 1 monolith counter for different emoji's used?

I think one of the ways to tackle the backend will be to create an unique instance ID for

[2017-05-13 03:33] quietcoding opened #43 "Pipe backend"
Let me know if I've correctly or incorrectly opened an issue btw.

Backend:
- [x] Install json-server --> completed through npm install from package.json
- [ ] Add documentation on how to run json-server as backend
- [x] Added package.json dependency for build
- [x] Create a mock database for emojion bar

Frontend:
- [ ] Get / Post functionality to backend db
- [ ] Update when emoji is clicked
- [

[2017-05-13 03:41] teesloane commented on #9
Yep, that's pretty much what I was thinking !!

Thanks for adding your voice here. Looking forward to seeing what we can do!

[2017-05-13 03:46] teesloane commented on #43
Great work! Think you could make a pull request for this stuff?!

Something tells me that instead of just getting an array of objects back we will need an object of objects... so for example:

[code]

Does that make sense? It's late where I am, and I might just be missing somethign entirely. Perhaps the data structure has to be even more nested ...

[2017-05-13 04:10] quietcoding commented on #43
Yea, it makes sense, I think I was over thinking it and wanted something like an id tied to objects.

I don't see a reason for a more nested data structure, keeping it simple with objects tied to numerical seems best :). It's late here too, but it's the only time I have aside from a full time job haha.

[2017-05-13 04:23] teesloane commented on #43
I know what you mean. Thanks for sharing some of your time on this project.

I also agree with you about a simple data structure. Feel free to make a PR whenever you are happy with your work (finished or unfinished) and I'll be happy to look it over.

[2017-05-13 04:46] quietcoding commented on #43
For sure, I shouldn't have made this issue so big then haha. I'll keep you posted.

Was this what you were thinking of by the way?

![image](https://cloud.githubusercontent.com/assets/7574432/26022509/5d141d4a-3775-11e7-9021-156b410233d9.png)

If so, this can be our mock database. I just need to somehow tie this to the front-end functions which will update to the database json as needed.

[2017-05-13 04:55] teesloane commented on #43
This is looking good.

I think one thing to keep in mind is that what's coming from the DB can nicely fit into the empty state struct waiting to be filled:

[code]

Ideally, it will eventually populate to look like this:

<img width="644" alt="screenshot 2017-05-13 00 53 06" src="https://cloud.githubusercontent.com/assets/12987958/26022567/b95964e2-3776-11e7-92f2-4ded442093af.png">

which I just p

[2017-05-13 05:06] quietcoding commented on #43
Ah, I think I understand. So essentially the ID will be our key, and there will be another object inside the object to store the values of the emojis like so?

![image](https://cloud.githubusercontent.com/assets/7574432/26022638/58723878-3778-11e7-96b0-c00d2a9f5f1b.png)
I didn't think too far ahead about how it would be tied to the state on the front-end. Good catch.
If this looks good, I'll begin

[2017-05-13 12:14] teesloane commented on #43
@qazqwezxc I think you're on the right track. So in the case of your screenshot, eventually `id` will be replaced with a very unique id that actually lines up with the user's mount in the dom.

I'm going to review your PR shortly and hopefully merge it in this morning !

Thanks for your hard work @qazqwezxc ; I will make you a contributor to the project so that you can self-assign any other issues

[2017-05-13 12:38] teesloane commented on #43
<img width="589" alt="screenshot 2017-05-13 08 36 32" src="https://cloud.githubusercontent.com/assets/12987958/26025508/54811e84-37b7-11e7-923d-f973834e7257.png">

Great Work @qazqwezxc ! I added an npm script so that any one can launch the backend with `npm run dev`. Eventually I might add a way to pop open the `example.html` page automatically when that happens as well...

Any chance you have a

[2017-05-15 00:30] venomnert commented on #41
Hey Tyler, here is gif of me changing the width from auto to 16%. It was also seem to work fine on mobile.
![ezgif com-optimize](https://cloud.githubusercontent.com/assets/6043697/26039087/1ab60164-38e4-11e7-8b6d-53435b81640a.gif)

[2017-05-15 01:38] quietcoding commented on #43
Thanks @teesloane,

I'm not huge on twitter, but you can find me @andrew_hoang (not very discrete, I know).

Moving forwards, lets start looking at how we can tie this into the emojion front and back end system. The easiest method I've come up with so far is to utilize jQuery. We can use jQuery to post a GET request and check the local JSON database as shown by the code snippet below:

![image](ht

[2017-05-15 01:48] teesloane commented on #29
This is being addressed!

[2017-05-15 02:03] teesloane commented on #41
Hey @venomnert thanks for sending a gif. We had a contributor just [merged a pr](https://github.com/the-heap/Emojions/pull/46) that managed to fix the problem using flex box - which is ideal because it uses the same styling methodology that the containers use..

I think that the 16% could have worked, although I think it limits the size on mobile — where before the emojis would stay centered and s

[2017-05-15 02:04] #41 closed, assigned to nobody

[2017-05-15 02:08] teesloane commented on #43
Hey @qazqwezxc - this is great. I can jot down a couple quick thoughts.

I do! 🎉

I recommend using [Fetch](https://github.com/github/fetch) since we're just making network requests. Jquery comes with a lot of other functionality and is also a bit large. One of my goals is to keep the size of our snippet as small and unintrusive as possible since it's being embedded into possible already large sit

[2017-05-15 02:42] venomnert commented on #41
Hey I just read @broneks solution to the problem and it makes a lot of sense. I agree with the idea of sticking to the same methodology.

[2017-05-15 02:59] quietcoding commented on #43
Hey @teesloane,

Ah, noticed your edit to fetch() recommendation. I definitely wholeheartedly agree, simpler is better if it's supported natively for chrome (chrome is awesome). I can create an early prototype by tomorrow night, but we should settle on a prototype solution for where to fetch our db.json POST/GET data.

I'll keep a close eye on where the client api goes from here and will adjust fo

[2017-05-15 13:03] teesloane commented on #43
Hey @qazqwezxc ,

That sounds great all around. For now we can increment our progress step by step as best as possible. I agree that it'll be important to settle on a prototype solution with a fetch to our dummy db.

Ideally, if we can stub out our network requests to the db.json... we should, (if we prototype successfully) be able to swap out `db.json` with a database without too much extra work

[2017-05-16 01:02] broneks opened #49 "every emoji bar on the page is rerendered upon incrementing one emoji"
## Detailed Description

When I open up the dev tools and click on an emoji button, I see the contents of every emoji bar being rerendered instead of just the contents of the emoji button that was clicked on.

A related issue is that event listeners are never being removed (see `incrementEmojiCount` function). So if an emoji bar is rerendered, new buttons with new event listeners are being added t

[2017-05-16 01:07] broneks commented on #29
also maybe make the unique ID configurable?

[2017-05-16 01:13] teesloane commented on #49
Great catch. I was aware of all the emojis being rerendered, but not the event listener part. How can we solve that problem ? (I forsee it being a problem). Perhaps we can just remove event listeners after the click has been registered to the data struct representing the count...

I always mix up these bubble things... want to try and tackle it?

As for the rerendering - I dont' think it'll be a b

[2017-05-16 01:14] teesloane commented on #29
Yes, this should probably happen on the elm side for when a user configures their snippet...

[2017-05-16 01:15] broneks commented on #49
I'm not sure if the event listener part is an issue or not. After checking some stack overflow posts, it seems that as long as the old node is garbage collected then its event listener is removed as well.
/shrug

[2017-05-16 01:17] broneks commented on #49
Should we leave the rerendering issue alone for now until it proves to be problematic?

[2017-05-16 01:17] teesloane commented on #49
interesting. maybe it's all taken care of on re-render. I'm going to leave this open for anyone who feels ambitious enough to figure out how to re render just a single emoji and not the whole bar. (might be a good puzzle)

[2017-05-16 01:18] teesloane commented on #29
Closing this because @venomnert has done some great work on this!

[2017-05-16 01:18] #29 closed, assigned to nobody

[2017-05-16 01:18] broneks commented on #49
ok sounds good. I might take on that challenge.

[2017-05-16 01:19] teesloane commented on #10
Some good work on this issue is happening over [here](https://github.com/the-heap/Emojions/issues/43)

[2017-05-16 04:10] quietcoding commented on #43
They all sound like awesome suggestions @teesloane,

We could give a go at Node or Python (ExpressJS and Flask are nice and lightweight). Rather than pick and choose an backend framework, I think this could be an opportunity to explore possible frameworks for those who are interested.

Go -> Great for high concurrency, non-blocking pipelines
Elixir -> Same as Go
Python -> Flask ease of use
NodeJS

[2017-05-16 12:03] teesloane commented on #43
@qazqwezxc Excellent points and summaries on the difference langs. I have experience with both Flask and Express, and a bit of Go.

Go seems to be a bit more handrolled than some of the other solutions, and I really don't know much about elixir; althought there's a chance it will be used in the next project.

Regarding the end of month deadline — that's a soft deadline in that the project will sti

[2017-05-17 05:17] quietcoding commented on #43
Yea, very valid points. I think flask would be great for getting a prototype up and running and adding on libraries as needed. Lets get this done :).

I'm interested in seeing how elixir may be used in the future heap projects and where we can take it.

Good vibes overall.
- Andrew H

[2017-05-17 12:17] teesloane commented on #43
Alright, flask it is; I'm going to start creating some issues for this!

edit: I created some issues; might just be worth starting at the (new!) roadmap for our API: #54

[2017-05-17 12:17] #19 closed, assigned to nobody

[2017-05-17 12:29] teesloane opened #50 "Setup Flask for our backend"
**Read this to:**

Brainstorm / Think about how to setup flask.

**I expect you to know:**

[Our API roadmap](https://github.com/the-heap/Emojions/issues/54)

## General Thoughts

- we could probably create a single line flask file for the server. It might be nice to have a very simple application; keeping it as short as possible. I would like to consider this possibility; and start to break thing

[2017-05-17 12:29] teesloane opened #51 "Replace our json server with dummy data coming from Flask"

[2017-05-17 12:29] teesloane opened #52 "Decide on a database we can use with Flask"
Any thoughts on this @qazqwezxc ? I have more experience with sqlalcehmy with flask than any nosql choices, but I'm open to whatever! Ideally whatever we choose is simple and not too hard to set up and document.

[2017-05-17 12:30] teesloane opened #53 "Create endpoint that fetches emojion data by unique user information"
**Read this to:**

Figure out how to tackle the data fetching for the emojion bar from front end to back end.

**I expect you to know:**

Our general [roadmap](https://github.com/the-heap/Emojions/issues/1)
[Our API roadmap](https://github.com/the-heap/Emojions/issues/54)

# User Flow + To Dos:
- A user opens their site which has the snippet installed
  - [ ] The snippet scans for all instances of

[2017-05-17 12:31] teesloane opened #54 "ROADMAP: API"
**Read this to:**

Understand the road map for the emojion bar `api`.

**I expect you to know:**

Our general [roadmap](https://github.com/the-heap/Emojions/issues/1)
[How we are architecting the snippet code](https://github.com/the-heap/Emojions/issues/3)

# Overview:

The API is sort of the final puzzle piece to finish the snippet. Without an API anybody can still use our Snippet; but it's a `by

[2017-05-17 12:35] teesloane commented on #53
@qazqwezxc I'm assigning you this in case you're interested + I'd appreciate any thoughts you have on the flow above!

[2017-05-17 12:37] #51 closed, assigned to nobody

[2017-05-18 00:35] quietcoding commented on #52
I've had experience in PostgreSQL since I've read articles on how inferior MySQL is to PostgreSQL. That said, I've never done it with sqlalchemy, so I'm open to that idea. What about SQLite? It seems like it stems from the flask tutorials and it would be a matter of implementation for our purpose.

[2017-05-18 00:36] quietcoding commented on #50
Agreed, lets just keep the server routing of flask to a minimum. I'll throw something together if no one's had a stab at it yet.

[2017-05-18 04:04] teesloane commented on #52
SQLite makes a ton of sense. Let's go with that!
small, simple, easy (I imagine?) to migrate to postgres if necessary!

[2017-05-18 04:05] teesloane commented on #50
Sounds good — would love to have you tackle that. Right now I'm looking into docker for making this whole dev environment easier to setup, so I'm excited to add python/flask to that (if I can get it working ..)

[2017-05-18 14:03] teesloane opened #55 "Setup `All Contributors"
We should use [all contributors](https://github.com/kentcdodds/all-contributors) To recognize the hard work of our contributors!

[2017-05-21 14:44] #10 closed, assigned to nobody

[2017-05-21 15:02] teesloane opened #58 "Feedback for this project."
Read This to:
- Help provide feedback on how The Heap Runs Projects.

What I expect you to know / have done:
- If you have contributed in some way to this project (in _any_ way; not just coding) I would love to hear your feedback.

---

I could use your feedback. Help me make the next The Heap project easier to get started and more fun. Feel free to post any thoughts here; if nothing comes to mind

[2017-05-21 15:08] quietcoding commented on #58
How easy was it to get started contributing?
Decently easy, a bit intimidating since I have the fear that I'm wasting time working on a piece of code someone else may already be working on.

What was the most intimidating thing about this repo?
Understanding the languages used to get the code up and running. The front-end toolsuite is ridiculous these days with changing tech every 6 months.

What

[2017-05-21 15:17] teesloane commented on #58
@qazqwezxc Thanks for adding your thoughts! Really appreciate it; and it'll help me shape these projects going forward.

I can definitely sympathize with your thoughts on front end code haha.

Make commitments is hard; but important especially if when worrying that someone else might be working on the same code. I'm not sure what the solution is for that. I think being on the github issue for the

[2017-05-21 15:19] quietcoding commented on #58
I 'tweeted' a while back to The Heap and not sure if you received it, but I suggested we have an open slack channel for this project. It would make it easier for real-time feedback on everyone's thoughts going about various issues IMO.

[2017-05-21 15:29] teesloane commented on #58
Ah dang I didn't see it. @qazqwezxc as for an open chat - I originally tried ourtslack but it's not very well suited to open communities; users have to be manually invited or programmatically; it seems more beneficial for business teams with set amounts of users. I'm not sure if you've seen out gitter channel but it integrates well with github (anyone who is a github user can join the chat; issues

[2017-05-21 15:30] quietcoding commented on #58
Ahh, when you said gitter, I thought you meant Github. OK it all makes sense now.

Pair programming would probably be fun, we would have to experiment and see how it goes :)

[2017-05-22 00:24] quietcoding commented on #53
Working on it now, I think I need to restructure the current data structure.

[2017-05-22 00:30] teesloane commented on #53
What are you thinking? The data structure on the front end or the back end?

[2017-05-22 00:32] quietcoding commented on #53
I'm not sure if what is currently written under emoji is correctly structured for each emojion bar?

I was thinking it should be like:

emoji_bar#1 --> peak #, face #, rocket #, etc
emoji_bar#2 --> peak #, face #, rocket #, etc

It's currently set up that you have each emoji icon has a unique identity on top of the emoji bar? Is that what we're trying to achieve?

[2017-05-22 00:35] teesloane commented on #53
Yeah, each emoji icon needs to have it's own count + id; so yes, it's yet another nested object — this is necessary to be able to target the html dom elements that correspond to each single emoji — does that make sense ?

The comment for `populateContainers` in `index.js` kind of explains the need for this data struct on the front end.

[2017-05-22 15:07] #18 closed, assigned to nobody

[2017-05-22 22:08] #50 closed, assigned to nobody

[2017-05-22 22:09] #9 closed, assigned to nobody

[2017-05-22 22:10] #43 closed, assigned to quietcoding

[2017-06-18 17:01] #55 closed, assigned to teesloane

[2017-06-18 17:01] #58 closed, assigned to nobody

[2017-06-26 21:36] #13 closed, assigned to nobody

[2017-06-26 21:36] #15 closed, assigned to nobody

[2017-06-26 21:36] #49 closed, assigned to nobody

[2017-06-26 21:36] #52 closed, assigned to nobody

[2017-06-26 21:36] #54 closed, assigned to quietcoding, teesloane

[2018-01-10 23:52] #1 closed, assigned to nobody

[2018-01-10 23:52] #20 closed, assigned to nobody

[2018-01-10 23:52] #21 closed, assigned to nobody

[2018-01-10 23:52] #22 closed, assigned to nobody

[2018-01-10 23:52] #23 closed, assigned to nobody

[2018-01-10 23:54] #53 closed, assigned to quietcoding